spring:
  application:
    name: ms-mytaxi-ride
  datasource:
    url: "jdbc:postgresql://localhost:5432/db_mytaxi_ride"
    username: root
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    default-property-inclusion: non_null
  data:
    redis:
      host: localhost
      port: 6379
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
          auto-create-topics: true
          producer-properties:
            enable.idempotence: true
            acks: all
            retries: 3
            max.in.flight.requests.per.connection: 5 # Max of request unconfirmed by connection (value suitable for idempotence)
      bindings:
        rideEvents-out-0:
          destination: mytaxi.ride.events
          content-type: application/json
          producer:
            partition-key-expression: headers['aggregateId']
            partition-count: 3

feign:
  client:
    config:
      default:
        loggerLevel: FULL

logging:
  level:
    feign.Logger: DEBUG
    feign.Request: DEBUG
    feign.Response: DEBUG
    feign.Retryer: DEBUG
    feign: DEBUG  # optional but useful

integration:
  account:
    host: http://localhost:8080
  payment:
    host: http://localhost:8082

server:
  port: 8081